/* HOME SECTION*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: Georgia;
    text-align: center;
    background-color: #0a0a0a;
    color: #f5f5f0;
}

.intro {
    padding: 60px 20px;
}

.intro img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: fill;
    border: 3px solid #d4af37;
}

.intro h1 {
    margin-top: 40px;
    color: #d4af37;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.intro a {
    margin-top: 40px;
    text-decoration: none;
}

.intro p {
    width: 400px;
    margin: 30px auto;
    line-height: 1.9;
    padding: 30px;
    border-radius: 10px;
    color: #f5f5f0;
    border: 1px solid #d4af37;

}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 28px;
    color: #fdfcfc;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #d4af37;
}



/* ABOUT ME SECTION */

#about {
    min-height: 100vh;
    padding: 80px 20px;
    box-sizing: border-box;
}

#about h2 {
    margin-top: 20px;
    font-family: Georgia;
    font-size: 35px;
    color: #d4af37;
}

#about h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #d4af37;
}

#about p {
    width: 400px;
    margin: 30px auto;
    line-height: 1.9;
    padding: 20px;
    color: #f5f5f0;
    border-radius: 10px;
    border: 1px solid #d4af37;
}

#about ul {
    margin-top: 20px;
    line-height: 1.6;
    display: inline-block;
    text-align: left;
    list-style: none;
    color: #f5f5f0;
}


/* sKILLS SECTION*/

#skills {
    min-height: 100vh;
    padding: 80px 20px;
    box-sizing: border-box;
}

#skills h2 {
    margin-bottom: 30px;
    color: #d4af37;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);gap: 30px;
    line-height: 1.5;
    margin: auto;
    justify-items: center;
}

.skill-card {
    margin-top: 0;
    width: 200px;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid #d4af37;
}

.skill-card h3 {
    margin-top: 5px;
}




